VITE_SUPABASE_URL=https://ivsrijwlkzqufdzxviax.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2c3Jpandsa3pxdWZkenh2aWF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzMTMxMzksImV4cCI6MjA5MTg4OTEzOX0.8f4lCmDs19Sv29LPLBBUj1B9SlKBwzWwTQfn8qYXzzc
